body {
  background-color: #fffcfc;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.h2 {
  background-color: #af87a3;
}

button {
  height: 50px;
  margin: 2px;
  font-size: 1.2em;
  border-style: none;
  /*background-color: #d6e0f5;*/
}

button:hover {
  color: rgb(224, 182, 233);
  background-color: #e57195;
  cursor: pointer;
  border: 2px solid rgb(243, 187, 187);
}

.calculator {
  position: relative;
  top: 150px;
  margin: 0 auto;
  max-width: 300px;
}

.calcButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  background-color: #4f0b3b;
  padding: 10px;
}

.calcButtons > button:nth-child(17) {
  grid-column: 1/3;
}

.operator {
  background-color: #e4c9e7;
}

.number {
  background-color: #ef8f8f;
}

.userInput {
  position: relative;
  height: 80px;
  max-width: 100%;
  text-align: right;
  padding: 10px;
  font-size: 25px;
  /*border: 1px solid #193366;*/
  background-color: #e5afaf;
}

.calcButtons > button:nth-child(19) {
  background-color: rgb(163, 24, 147);
}

.userEntry {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 5px;
  right: 0;
}

.finalCalc {
  position: absolute;
  right: 0;
  margin: 5px;
  top: 0;
  padding: 0;
}
